{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block
body %}
<div class="container-fluid big">
  <h1
    style="
      text-align: center;
      font-weight: 700;
      color: #14203e;
      font-size: 4.5rem;
    "
  >
    A modern way to
  </h1>
  <h1
    style="
      text-align: center;
      font-weight: 700;
      color: #14203e;
      font-size: 4.5rem;
    "
  >
    build websites.
  </h1>
  <br />
  <h4 style="text-align: center; font-weight: 700; color: #14203e">
    Empower designers to build professional, custom websites
  </h4>
  <h4 style="text-align: center; font-weight: 700; color: #14203e">
    in a completely visual canvas with no code.
  </h4>
  <br />
  <p style="text-align: center">
    <a href="#" type="button" class="sft-big">Start Free Trial</a>
  </p>
</div>
<br />
<p style="text-align: center; font-weight: 700">
  We share our thoughts on design
</p>
<hr />
<br />
<div class="container row m-auto">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <img
      src="{{url_for('static', filename='images/image.jpg')}}"
      class="img-fluid"
      alt="Responsive image"
    />
    <br />
    <br />
    <div style="width: 200px; height: 200px">
      <p style="font-weight: 700">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, ad?
      </p>
      <small>Jul 1, 2020</small>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <img
      src="{{url_for('static', filename='images/image.jpg')}}"
      class="img-fluid"
      alt="Responsive image"
    />
    <br />
    <br />
    <div style="width: 200px; height: 200px">
      <p style="font-weight: 700">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, ad?
      </p>
      <small>Jul 1, 2020</small>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <img
      src="{{url_for('static', filename='images/image.jpg')}}"
      class="img-fluid"
      alt="Responsive image"
    />
    <br />
    <br />
    <div style="width: 200px; height: 200px">
      <p style="font-weight: 700">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, ad?
      </p>
      <small>Jul 1, 2020</small>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <img
      src="{{url_for('static', filename='images/image.jpg')}}"
      class="img-fluid"
      alt="Responsive image"
    />
    <br />
    <br />
    <div style="width: 200px; height: 200px">
      <p style="font-weight: 700">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, ad?
      </p>
      <small>Jul 1, 2020</small>
    </div>
  </div>
</div>
<hr />
<br />
{% endblock body %}
